@model TeduShop.Web.Models.FeedbackViewModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
@section footerJS{

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0hApWq2kIvKGb6fGX0DLDiB7y75jTVgA"></script>
    <script src="~/Assets/client/js/controllers/contact.js"></script>
}
<style>
    #map {
        height: 400px;
    }
</style>
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />
<input type="hidden" id="hidContactDetail" value="Cửa hàng Tedu - @Model.ContactDetailViewModel.Address" />
<input type="hidden" id="hidLat" value="@Model.ContactDetailViewModel.Lat" />
<input type="hidden" id="hidLng" value="@Model.ContactDetailViewModel.Lng" />
<input type="hidden" id="hidName" value="@Model.ContactDetailViewModel.Name" />
<div class="main">
    <div class="reservation_top">
        <div class=" contact_right">
            <h3>Thông tin liên hệ</h3>
            <div class="contact-form">
                <address class="address">
                    <p>@Model.ContactDetailViewModel.Address</p>
                    <dl>
                        <dt> </dt>
                        <dd>Điện thoại:<span> @Model.ContactDetailViewModel.Phone</span></dd>
                        <dd>E-mail:&nbsp; <a href="mailto:@(Model.Email)">@Model.Email</a></dd>
                    </dl>
                </address>
                <div class="clearfix"></div>
                <div id="map"></div>
            </div>
        </div>
    </div>
    <div class="reservation_top">
        <div class=" contact_right">
            <h3>Gửi thông tin liên hệ</h3>
            <div class="contact-form">
                @using (Html.BeginForm("SendFeedback", "Contact", FormMethod.Post))
                {
                    if(ViewData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>Chúc mừng bạn!</strong> gửi phản hồi thành công.
                            <br />Chúng tôi sẽ liên hệ lại sớm nhất có thể.
                        </div>
                    }
                    @Html.ValidationSummary(false, "", new { @class = "error" });
                    @Html.TextBoxFor(model => model.Name, new { @class = "textbox", @placeholder="Họ tên" });
                    @Html.TextBoxFor(model => model.Email, new { @class = "textbox", @placeholder = "Email" });
                    @Html.TextAreaFor(model => model.Message, new { @class = "textbox", @placeholder = "Nội dung" });

                    MvcCaptcha contactCaptcha = new MvcCaptcha("ContactCaptcha");
                    @Html.Captcha(contactCaptcha)
                    @Html.TextBox("CaptchaCode")
                    <input type="submit" value="Gửi">
                    <div class="clearfix"> </div>
                }
            </div>
        </div>
    </div>
</div>
